{% extends "home.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<form action="#" method="post">
    <p>Ticker:</p>
    <p><input type="text" name="ticker"></p>
    <p>Month/s Ago</p>
    <p><input type="text" name="time"></p>
    <p>Data Info</p>
    <p><input type="text" name="data_info"></p>
    <p><input type="submit" value="submit"></p>
</form>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

{% endblock %}

