{% extends "layout.html" %}
{% block content %}
<div>
      
    <form action="#" method="post">
      <div class="form-group">
        <label for="ticker">Ticker</label>
        <input type="text" class="form-control" placeholder="AAPL" name="ticker">
        <label for="months_ago">Months </label>
        <input type="text" class="form-control" placeholder="12" name="time">
        
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Close" name="data_info">
        <label class="form-check-label" for="inlineCheckbox1">Close</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="Open" name="data_info">
        <label class="form-check-label" for="inlineCheckbox1">Open</label>
      </div>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="High" name="data_info">
        <label class="form-check-label" for="inlineCheckbox1">High</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="Low" name="data_info">
        <label class="form-check-label" for="inlineCheckbox1">Low</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="Volume" name="data_info">
        <label class="form-check-label" for="inlineCheckbox1">Volume</label>
      </div>
      
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
    <!--Graph and Information-->
    
    <div class="row p-4" style="visibility: {{ visibility }};">
      <div class="card m-auto" style="width: 90%;">
          <div class="card-body">
              <div id="chart1"></div> <!--The reference is at the end of the script-->
          </div>
      </div>
    </div>
    
    <div style="visibility: {{ visibility }};">
        <div class="site-header-logo">
          <h1>Stock Information</h1>
          <a class="btn btn-primary" role="button">Link</a>
      </div>
      
      <div class="row p-4">
          <div class="card m-auto" style="width: 90%;">
              <div class="card-body">
                  <div id="chart1"></div> <!--The reference is at the end of the script-->
              </div>
          </div>
      </div>
      
      <!-- Bais Info Table-->
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Sector</th>
              <th scope="col">Location</th>
              <th scope="col">Website</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>{{companyInfo['shortName']}}</td>
              <td>{{companyInfo['sector']}}</td>
              <td>{{ companyInfo['city'] }}, {{ companyInfo['country'] }}</td>
              <td><a href="{{ companyInfo['website'] }}">link</a></td>
            </tr>
          </tbody>
        </table>
        
        <br>
        <h2>More about {{companyInfo['shortName']}} Data Range</h2>
        
        <!--Analysis Table-->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Days</th>
              <th scope="col">Mean</th>
              <th scope="col">Standard Deviation</th>
              <th scope="col">Min</th>
              <th scope="col">Max</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>{{Count}}</td>
              <td>${{Mean}}</td>
              <td>${{Std}}</td>
              <td>${{Min}}</td>
              <td>${{Max}}</td>
            </tr>
          </tbody>
        </table>
    </div>
    
    <!--plotly CDN-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var graph1 = {{ graph1JSON | safe }}
        Plotly.plot("chart1", graph1, {})
        
    </script>
      
    <br>
    <br>
</div>
{% endblock %}