{% extends "layout.html" %}
{% block content %}
<div>
      
    <div class="row">
      <div class="col-sm-4">{{stock1_name}}-${{stock1_value}}</div>
      <div class="col-sm-4">.col-sm-4</div>
      <div class="col-sm-4">.col-sm-4</div>
    </div>
      
    <br>
    <br>
    <form action="#" method="post">
        <p>Ticker:</p>
        <p><input type="text" name="ticker" value="AAPL"></p>
        <p>Month/s Ago</p>
        <p><input type="text" name="time" value="12"></p>
        <p>Select Type of data to plot</p>
        <label for="cars">Data Type:</label>
        <select name="data_info">
          <option value="Close">Close</option>
          <option value="Open">Open</option>
          <option value="High">High</option>
          <option value="Low">Low</option>
          <option value="Volume">Volume</option>
          <option value="Adj Close">Adj Close</option>
        </select>
          <br><br>
        <p><input type="submit" value="Submit"></p>
    </form>
</div>
{% endblock %}