{% extends "layout.html" %}
{% block content %}
<div>
    
    <div class="common-companies">List of common companies here</div>
    
    <form action="#" method="post">
        <p>Ticker:</p>
        <p><input type="text" name="ticker" value="AAPL"></p>
        <p>Month/s Ago</p>
        <p><input type="text" name="time" value="12"></p>
        <p>Data Info</p>
        <p><input type="text" name="data_info" value="Close"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
</div>
{% endblock %}