{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
        <h1>
            {{ticker}}
        </h1>
    </div>
    
    <div class="row p-4">
        <div class="card m-auto" style="width: 90%;">
            <div class="card-body">
                <div id="chart1"></div>
            </div>
        </div>
        
    </div>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    
    <!--plotly CDN-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var graph1 = {{ graph1JSON | safe }}
        Plotly.plot("chart1", graph1, {})
        
    </script>
    
{% endblock %}