{% extends "layout.html" %}
{% block content %}
    <div class="site-header-logo">
        <h1>Stock Information</h1>
    </div>
    
    <div class="row p-4">
        <div class="card m-auto" style="width: 90%;">
            <div class="card-body">
                <div id="chart1"></div>
            </div>
        </div>
    </div>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Sector</th>
            <th scope="col">Location</th>
            <th scope="col">Website</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{companyInfo['shortName']}}</td>
            <td>{{companyInfo['sector']}}</td>
            <td>{{ companyInfo['city'] }}, {{ companyInfo['country'] }}</td>
            <td><a href="{{ companyInfo['website'] }}">link</a></td>
          </tr>
        </tbody>
      </table>
    
    <!--plotly CDN-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var graph1 = {{ graph1JSON | safe }}
        Plotly.plot("chart1", graph1, {})
        
    </script>
    
{% endblock %}